@model DotWeb.WebApp.Controllers.ProductContent
@{
    ViewBag.Title = "開關類:偵測開關:Through Hole & Ground Terminal";
    ViewBag.BodyClass = "Products col2";
    ViewBag.Target = "Through Hole & Ground Terminal";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">產品介紹</a></li>
    <li><a href="~/Products/list">@Model.name_category_l1</a></li>
    <li><a href="~/Products/list">@Model.name_category_l2</a></li>
}

@Html.Partial("sidebar", Model.menuStroe)

<section class="content">
    @* 子分類名稱 + 此分類內的產品數量 *@
    <h2 class="title">@Model.product.product_name <small>(15)</small></h2>

    <article class="row product-intro">
        <div class="product-pic col-6 col-sm-12">
            <img src="~/Content/images/Products/content.jpg" alt="Through Hole & Ground Terminal">
        </div>

        <dl class="list-info col-6 col-sm-12">
            <dt class="list-info-title">產品型號</dt>
            <dd class="list-info-content">@Model.product.modal</dd>
            <dt class="list-info-title">規格描述</dt>
            <dd class="list-info-content">@Model.product.standard</dd>
        </dl>
    </article><!-- row //-->

    <h3 class="title-detail">詳細介紹</h3>
    @Html.Raw(Model.product.description)

</section>