@model DotWeb.WebApp.Controllers.ProductContent
@{
    ViewBag.Title = Model.name_category_l1 + ":" + Model.name_category_l2 + ":" + Model.product.modal;
    ViewBag.BodyClass = "Products col2";
    ViewBag.Target = Model.product.modal;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">@Resources.Web.product_introd</a></li>
    <li><a href="~/Products/list">@Model.name_category_l1</a></li>
    <li><a href="~/Products/list">@Model.name_category_l2</a></li>
}

@Html.Partial("sidebar", Model.menuStroe)

<section class="content">
    @* 子分類名稱 + 此分類內的產品數量 *@
    <h2 class="title">@Model.name_category_l2 <small>(@Model.count_category_l2)</small></h2>

    <article class="row product-intro">
        <div class="product-pic col-6 col-sm-12">
            <img src="@Model.src" alt="@Model.product.modal">
        </div>

        <dl class="list-info col-6 col-sm-12">
            <dt class="list-info-title">@Resources.Web.product_modal</dt>
            <dd class="list-info-content">@Model.product.modal</dd>
            <dt class="list-info-title">@Resources.Web.product_standard</dt>
            <dd class="list-info-content">@Model.product.standard</dd>
        </dl>
    </article><!-- row //-->

    <h3 class="title-detail">@Resources.Web.product_description</h3>
    @Html.Raw(Model.product.description)

    @if (Model.fileSrcs.Length > 0)
    {
        <footer class="download">
            <h4>@Resources.Web.product_content_append:</h4>
            @foreach (var item in Model.fileSrcs)
            {
                var file_name = item.Split('/')[item.Split('/').Length - 1];
                <a href="@item" class="btn" target="_blank">@file_name</a>
            }
        </footer>
    }
</section>