@model DotWeb.WebApp.Controllers.ProductList
@{
    ViewBag.Title = "開關類:偵測開關";
    ViewBag.BodyClass = "Products col2";
    ViewBag.Target = Model.name_category_l1;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">@Resources.Web.product_introd</a></li>
    <li><a href="~/Products/list">@Model.name_category_l1</a></li>
}

@Html.Partial("sidebar", Model.menuStroe)

<section class="content">
    <h2 class="title">@Model.name_category_l2 <small>(@Model.count_category_l2)</small></h2>
    @foreach (var item in Model.products)
    {
        <figure class="product-list">
            <img src="@item.src">
            <a href="~/Products/content?id=@item.product_id">MORE</a>
            <figcaption>
                <small>@item.product_name</small>
                <h4>@item.modal</h4>
            </figcaption>
        </figure>
    }
</section>