@model  IEnumerable<DotWeb.WebApp.Controllers.NewProduct>
@{
    ViewBag.Title = Resources.Web.product_new;
    ViewBag.BodyClass = "Products";
    ViewBag.Target = Resources.Web.product_new;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/Products">@Resources.Web.product_introd</a></li>
}

@foreach (var item in Model)
{
    <section class="col-6 col-sm-12 catalog-new">
        <header class="title">
            <h2>@item.category_name <small>(@item.count)</small></h2>
            <a href="~/Products/list?category_id=@item.category_id" class="btn btn-primary">ALL</a>
        </header>
        @foreach (var list in item.products)
        {
            <figure class="product-list">
                <img src="@list.src">
                <a href="~/Products/content?id=@list.product_id">MORE</a>
                <figcaption>
                    <small>@list.product_name</small>
                    <h4>@list.modal</h4>
                </figcaption>
            </figure>
        }
    </section>
}