@model DotWeb.Controller.CategoryStroe

<button class="pro-menu">@Resources.Web.product_menu</button>
<aside class="sidebar">
    @foreach (var item in Model.categoryL1Data)
    {
        if (item.id == Model.now_category_l1)
        {
            <dl>
                <dt class="collapse-title current" data-toggle="collapse">@item.name</dt>
                <dd class="collapse-content">
                    @foreach (var list in item.categoryL2Data)
                    {
                        if (list.id == Model.now_category_l2)
                        {
                            <a href="~/Products/list?id=@item.id&id2=@list.id" class="current">@list.name<small>(@list.count)</small></a>
                        }
                        else
                        {
                            <a href="~/Products/list?id=@item.id&id2=@list.id">@list.name<small>(@list.count)</small></a>
                        }
                    }
                </dd>
            </dl>
        }
        else
        {
            <dl>
                <dt class="collapse-title" data-toggle="collapse">@item.name</dt>
                <dd class="collapse-content">
                    @foreach (var list in item.categoryL2Data)
                    {
                        <a href="~/Products/list?id=@item.id&id2=@list.id">@list.name<small>(@list.count)</small></a>
                    }
                </dd>
            </dl>
        }
    }
</aside>