<!DOCTYPE html>
<html lang="zh-TW">
<!-- saved from url=(0014)about:internet -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @* <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> *@
    <title>@ViewBag.Title:@Resources.Res.System_FrontName</title>
    <script src="~/Scripts/cdn/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="bookmark" href="/favicon.ico"/>
    <link href="~/Content/css/grid.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/swiper.css">
        <link href="~/Content/css/index.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    }
    <link href="~/Content/css/icomoon.css?v=@CommWebSetup.CacheVer" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

    <div id="wrapper">

        <header id="header">

            <h1 class="logo" onclick="location.href='@Url.Content("~/index")'" title="回首頁">@Resources.Res.System_FrontName</h1>

            <button class="menu-trigger"><span>主選單</span></button>
            <nav id="menu">
                <a href="~/AboutUs">公司簡介</a>
                <a href="~/Products">產品介紹</a>
    			<a href="~/ContactUs">聯絡我們</a>
            </nav>

            <nav class="lang-nav dropdown">
                <button data-dropdown="btn">語系切換</button>
                <div data-dropdown="content">
                    <a href="@Url.Action("SetLanguage")?L=zh-TW&A=index">中文</a>
                    <a href="@Url.Action("SetLanguage")?L=en-US&A=index">English</a>
                </div>
            </nav>
            <form action="" class="search">
                <input type="Search" placeholder="SEARCH..." onkeyup="buttonUp();">
                <button class="fa fa-search"></button>
                <span class="fa fa-search"></span>
            </form>

        </header><!-- header //-->

        <div id="banner" class="swiper-container">
            <ul class="swiper-wrapper">
                @if (ViewBag.IsFirstPage)
                {
                    @* 圖片尺寸:w1400 x h500 *@
                    <li class="swiper-slide"><img src="~/Content/images/Index/banner1.jpg"></li>
                }
                else
                {

                }
            </ul>
            <div class="swiper-pagination"></div>
        </div><!-- banner //-->

        @RenderBody()

    </div><!-- wrapper //-->

    <a href="#header" class="goTop scroll"><i class="icon-angle"></i></a>

    <footer id="footer">
        <div class="wrap">
            <div class="col-7 foot-nav">
                <dl class="col-4">
                    <dt>公司簡介</dt>
                    <dd><a href="">服務項目</a></dd>
                    <dd><a href="">我們的優勢</a></dd>
                </dl>
                <dl class="col-8">
                    <dt>產品介紹</dt>
                    <dd><a href="">開關類</a></dd>
                    <dd><a href="">連接器類</a></dd>
                    <dd><a href="">插座類</a></dd>
                </dl>
            </div>

            <div class="col-5 foot-contact">
                <ul class="contact list-inline">
                    <li><i class="icon-phone" title="TEL"></i>03-3011936</li>
                    <li><i class="icon-print" title="FAX"></i>03-3011937</li>
                    <li><i class="icon-skype" title="Skype"></i></li>
                    <li>地址/ 桃園市大興西路二段六號四樓之四</li>
                    <li>中國工廠/ 福建省泉州市江南火巨開發區</li>
                    <li>Sample Request/ <a href="mailto:sales2@roki.com.tw">sales2@roki.com.tw</a></li>
                </ul>
                <div class="copyright">銓基電子股份有限公司 &copy; 2016</div>
            </div><!-- contact //-->
        </div><!-- wrap //-->
    </footer><!-- footer -->

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        // 輪播banner
        var swiper = new Swiper('#banner', {
            autoplay: 4500,
            autoplayDisableOnInteraction: false,
            loop: true,
            speed: 1000,
            effect: 'fade',
            pagination: '.swiper-pagination',
            paginationClickable: true,
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>